<h1>その他のイベント</h1>
<% @tweets.each do |t| %>
    <% if t.category == "event" %>  #ここがポイント！ categoryカラムにhadakadebanezumiと格納されているものだけを表示している！
      <%= t.name %>
      <%= t.title %>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.about %>
      <%= t.goal %>
    <% end %>
  <% end %>

  <%= link_to "一覧に戻る", tweets_path %>
