<div class="gasshuku">
<%= image_tag"gasshuku.jpg", size: "1000x600" %>
</div>

<div class="title">
<h2>最新記事</h2>
<% if user_signed_in? %>
  <% if current_user.email == "admin@c" %>
    <%= link_to "新規投稿へ", new_tweet_path %>
  <% end %>
<% end %>
</div>



<div class="article">
 <h2> 
 <% @tweets.each do |t| %>
    <div class="tweet">

    <ul>  
    <li>        
        <%= link_to tweet_path(t.id) do %>
        <%= t.name %>
        <%= t.goal %>
        <%= t.title %>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user == t.user.id || current_user.email == "admin@c" %>
              <%= link_to "編集する", edit_tweet_path(t.id) %>
          <% end %></li>
          </ul>
        <% end %>
        
        <% if user_signed_in? %>
          <% if current_user == t.user.id || current_user.email == "admin@c" %>
            <%= button_to "削除する", tweet_path(t.id), method: :delete %>
          <% end %>
        <% end %>


    </div>
  <% end %>

</div>
<br>
<br>
<br>
<br>
<div class="SNS">
 <div class="indextext"><h1>SNS</h1></div>
  <div class="sns2">
   <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/keioigobu?ref_src=twsrc%5Etfw">Tweets by keioigobu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/intent/tweet?button_hashtag=keioigobu&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #keioigobu</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>

<div class="line">
<div class="line-btn">
<a href="https://lin.ee/BpK8PHK"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
</div>
<div class="line-QR">
<img src="https://qr-official.line.me/gs/M_163cevql_GW.png?oat_content=qr">
</div>
</div>
</div>
</div>