 <div class="title">
<h2>個人戦</h2>
 </div>

 <div class="article">
<% @tweets.each do |t| %>
    <% if t.category == "kojin" %> 
    <h2>
    <a class="linkcolor">

    <ul>  
    <li>
    <%= link_to tweet_path(t.id) do %>
    <%= t.name %>
    <%= t.goal %>
    <%= t.title %>
    </a>

    </h2>
    <% end %>    </li>
     <% end %>
     </ul>
  <% end %>
  </div>

<div class="">
<% if user_signed_in? %>
  <% if current_user.email == "admin@c" %>
    <%= link_to "新規投稿へ", new_tweet_path %>
  <% end %>
<% end %>
</div>