<h1>新規投稿ページ</h1>
<%= form_for @tweet do |f| %>

  <div class="field">
    <%= f.label :タイトル（大見出し） %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
  <%= f.label :小見出し %>
  <%= f.text_field :goal, :size => 30 %>
</div>

  <div class="field">
    <%= f.label :日時  %>
    <%= f.text_area :title, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :写真 %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
  <%= f.label :本文  %>
  <%= f.text_area :about, :size => "30x2" %>
</div>

    <%= f.select :category, [["部活動概要", "overview"], ["個人戦", "kojin"], ["団体戦", "dantai"], ["イベント", "event"], ["その他の情報", "infomation"]], include_blank: "どの投稿？" %>
    

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", tweets_path %>


    